._ {
  position: relative;
}

.area {
  height: 2rem;
  width: 16rem;
  padding: 0.25rem 2rem 0.25rem 2rem;
  border: 0.0625rem solid var(--primary-border-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  letter-spacing: 0px;
  text-align: left;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.area:focus {
  outline-color: var(--primary-focus-outline-color);
}

.iconFind {
  position: absolute;
  left: 0.59375rem;
  top: 0.59375rem;
  width: 0.8125rem;
  height: 0.8125rem;
  stroke: var(--secondary-color);
}

.buttonDelete {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.iconDelete {
  width: 1rem;
  height: 1rem;
  stroke: var(--secondary-color);
}
