._ {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding: 2rem 3rem 0 3rem;
  box-sizing: border-box;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
}
