input::-webkit-input-placeholder {
  color: var(--secondary-color);
}

._ {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  height: 2rem;
  width: 100%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  height: 2rem;
  border: 0.0625rem solid var(--primary-border-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
  background-color: var(--primary-background-color);
}

.focused {
  outline: 0.0625rem solid var(--primary-focus-outline-color);
  border-color: var(--primary-focus-outline-color);
}

.prefix {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.textField {
  width: 100%;
  appearance: none;
  border: none;
  box-sizing: border-box;
  letter-spacing: 0px;
  text-align: left;
  background-color: var(--primary-background-color);
  outline: none;
  color: var(--primary-text-color);
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.disabled {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: var(--primary-disabled-text-color);
}

.disabled .button {
  cursor: default;
}

.invalid {
  border-color: var(--danger-color);
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}

.button {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.postfix {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  padding: 0;
  color: inherit;
  font: inherit;
  pointer-events: none;
}

.iconDisabled {
  fill: black;
}
