input::-webkit-input-placeholder {
  color: var(--secondary-color);
}

._ {
  position: relative;
}

input:invalid {
  border-color: var(--danger-color);
}

.prefix {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.textField {
  width: 100%;
  height: 2rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  appearance: none;
  border: 0.0625rem solid var(--primary-border-color);
  border-radius: 0.25rem;
  box-sizing: border-box;
  letter-spacing: 0px;
  text-align: left;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.textFieldWithButton {
  padding-right: 1.75rem;
}

.textFieldWithPostfixAndButton {
  padding-right: 3rem;
}

.textField:focus {
  outline-color: var(--primary-focus-outline-color);
}

.textFieldPrefix {
  padding-left: 1.75rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}

.button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.postfix {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  padding: 0;
  color: inherit;
  font: inherit;
  pointer-events: none;
}

.postfixWithButton {
  right: 1.75rem;
}

.postfixWithButton svg {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.iconDisabled {
  fill: var(--primary-text-color);
}

.disabled .textField {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: var(--primary-text-color);
}
.disabled .button {
  cursor: default;
}

.invalid .textField {
  border-color: var(--danger-color);
}
