.radio:checked {
  background-image: url('../Icons/lib/dot.svg');
  background-color: var(--primary-border-color);
  border-color: var(--primary-border-color);
}

.radio {
  width: 1rem;
  height: 1rem;
  margin: 0 0;
  appearance: none;
  border: 0.0625rem solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: 0.0625rem;
  background-color: var(--primary-background-color);
}
