._ {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  box-sizing: border-box;
}

.canseled {
  opacity: 0.5;
}

.icon {
  width: 1rem;
  height: 1rem;
  fill: var(--primary-filters-area-color);
}

.icon_postponed {
  fill: var(--postponed-icon-color);
}

.icon_calculation {
  fill: var(--primary-color);
}

.icon_canceled {
  fill: var(--primary-text-color);
  stroke: var(--primary-text-color);
}

.icon_completed {
  fill: var(--completed-icon-color);
}
