._ {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  box-sizing: border-box;
  border-radius: 0.25rem;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.size_maxWidth {
  width: 100%;
}

.size_medium {
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  height: 2rem;
}

.size_small {
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
}

.icononly.size_medium {
  padding: 0.5rem;
}

.icononly.size_small {
  padding: 0.25rem;
}

.color_primary {
  background-color: var(--blue-color);
}

.color_reversePrimary {
  color: var(--blue-color);
}

.color_danger {
  background-color: var(--error-color);
}

.color_reverseSecondary {
  color: var(--main-black-text-color);
}

.text {
  display: inline-block;
  height: 1rem;
  letter-spacing: 0rem;
  white-space: nowrap;
}

.color_primary > .text {
  color: var(--day-white-color);
}

.color_reverseSecondary > .text {
  color: var(--main-black-text-color);
}

.color_reversePrimary > .text {
  color: var(--blue-color);
}

.icon {
  width: 1rem;
  height: 1rem;
  stroke: var(--day-white-color);
  fill: var(--day-white-color);
}

.color_reversePrimary > .icon {
  stroke: var(--blue-color);
  fill: var(--blue-color);
}

.color_reverseSecondary > .icon {
  stroke: var(--main-black-text-color);
}
