@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --primary-border-color: #459df5; /*  --main-border-color */
  --primary-text-color: #000000; /* --main-black-text-color */
  --secondary-color: #bad8f5; /* --day-lightblue-color */
  --danger-color: #f53152; /* --error-color */
  --primary-color: #459df5; /* --blue-color */
  --primary-background-color: #ffffff; /* --day-white-color */
  --primary-focus-outline-color: #367dc4; /* --main-focus-outline-color*/
  --postponed-icon-color: #ff8c56; /*  */
  --declined-icon-color: #8055ff; /* --violet-color */
  --calculation-icon-color: #0fb864; /* --green-color */
  --primary-night-theme-color: #2b2d33; /* --night-theme-color */
  --secondary-night-theme-color: #171b1f; /* --night-theme-colo-dark */
  --primary-filters-area-color: #ebf0f5;
}

body {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: var(--main-black-text-color);
}
